.aboutPage {
    background-color: #ffffff;
}

.introductionSection {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 250px;
    background-color: #457B9D;
}

.introductionContext {
    display: grid;
    align-items: center;
    justify-items: center;
}

.divider {
    height: 5px;
    background-color: #F1FAEE;
}

.textSection {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 50%;
    background-color: #ffffff;
}

.textBox {
    width: 60%;
}

.textBox p {
    color: #333333;
    font-size: 24px;
}

.featureSection {
    display: grid;
    justify-items: center;
    padding: 40px 0px 40px 0px;
    background-color: #dddddd;
}

.featureContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
}

.featureBox {
    display: flex;
    /* grid-template-columns: 21% 79%; */
    color: #333333;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #dadada;
    border-radius: 5px;
}

.featureBox:hover {
    color: #ffffff;
    background-color: #457B9D;
    transition-duration: 0.5s;
}

/* .featureImage {
    
} */

.featureContext {
    text-align: right;
}
