.createMeasureBox {
  margin: 20px;
  padding: 0;
  border: 2px solid #dadada;
}

.topSection {
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  background-color: #1D3557;
}

.middleSection {
  height: 7px;
  background-color: #457B9D;
}

.formHeader {
  color: #ffffff;
}

.bottomSection {
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  background-color: #ffffff;
}

.formText {
  color: #333333;
}

.createMeasureForm {
  margin: 20px;
  padding: 20px;
  width: 100%;
}

.row {
  margin-bottom: 20px;
}

.colLeft {
  width: 20%;
}

.colRight {
  width: 80%;
}

.userInput {
  width: 100%;
  padding: 4px;
  margin: 0px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background-color: #f5f5f5;
}

textarea {
  height: 150px;
  resize: vertical;
}

.submitButton {
  float: right;
  padding: 5px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #E63946;
  transition-duration: 0.5s;
}

.submitButton:hover {
  background-color: #8B0000;
}