.finishedMeasure {
    flex: 1 1 100%;
    margin: 5px;
    border: 2px solid #dadada;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .sideTop {
    display: flex;
  }
  
  .sideLeft {
    padding: 20px;
    width: 85%;
  }
  
  .measureText {
    color: #333333;
  }
  
  .sideRight {
    width: 15%;
    padding: 20px;
  }
  
  .voteButton {
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #E63946;
    transition-duration: 0.5s;
  }
  
  .voteButton:hover {
    background-color: #8B0000;
  }
  
  .midBottom{
    display: flex;
    padding: 20px;
  }
  
  .result {
    flex: 0 1 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #333333;
  }
  
  .FinishedBottom {
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    background-color: blue;
  }
  
  .FinishedBottom p {
    margin: 0px;
  }