/* considering just styling with material ui*/

.loginBox {
  margin: 0 auto;
}

.helpMsgBtn {
  margin: 0 auto;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  width: 50%;
}

.question { 
  display: inline-block;
  padding-left: 1.4rem;
}

.homeBtn {
  display: inline-block;
  background: none;
  border: none;
  margin-left: 0.4rem;
  padding: 0;
  color: white;
  text-decoration: underline;
}

.homeBtn:active,
.homeBtn:focus {
  background: none;
  border: none;
  outline: none;
}