.measure {
  flex: 1 0 100%;
  margin: 2px;
  padding: 20px;
  border: 2px solid #dadada;
  background-color: #ffffff;
}

.measureText {
  color: #333333;
}

.voteButton {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #E63946;
  transition-duration: 0.5s;
}

.voteButton:hover {
  background-color: #8B0000;
}