.measure {
  flex: 1 50%;
  margin: 5px;
  border: 2px solid #dadada;
  border-radius: 5px;
  background-color: #ffffff;
}

.sideTop {
  display: grid;
  grid-template-columns: 83% 17%;
}

.sideLeft {
  padding: 20px;
}

.measureText {
  color: #333333;
}

.sideRight {
  padding: 20px;
}

.measureButtons {
  display: grid;
  grid-template-rows: 25% 25% 50%;
}

.voteChoice {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 16px;
}

.voteButton {
  margin: 0px;
  height: 16px;
  width: 16px;
  align-self: center;
  justify-self: center;
}

.voteButton:hover {
  cursor: pointer;
}

.voteLabel {
  color: #333333;
  margin: 0px;
}

.castButton {
  padding: 5px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #E63946;
  transition-duration: 0.5s;
}

.castButton:hover {
  background-color: #8B0000;
}

.midBottom{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: white;
} 

.timer {
  color: #E63946;
}

.result {
  color: #333333;
}

.sideBottom {
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  background-color: #333333;
  color: white;
}

.sideBottom p {
  margin: 0px;
  color: white;
}