.viewMeasures {
  padding: 20px;
  margin: 20px auto;
  flex: 0 0 60%;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}

.measures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}