.viewMeasures {
  padding: 20px;
  margin: 20px auto;
  flex: 0 0 90%;
  display: flex;
  align-items: space-around;
  flex-direction: row;
}

.measures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*align-items: center;*/
}