.header {
  text-align: center;
  padding-top: 40px;
  margin: 0px 0px 40px 0px;
}

.nav {
  background-color: #333333;
}

.navItem {
  display: block;
  padding: 14px 16px;
  margin: 0px 0px 0px 0px;
}

.userWelcome {
  display: flex;
  align-items: center;
}

.userIcon {
  height: 25px;
  width: 25px;
}

.userName {
  margin: 0px 0px 0px 15px;
}

.linkButton {
  color: #ffffff;
  text-decoration: none;
}

.linkButton:hover {
  color: #000000;
  background-color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.linkLogout {
  margin-left: auto;
}

.votingSection {
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.createMeasure {
  padding: 20px;
  margin: 20px auto;
  flex: 0 0 60%;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}

.footer {
  padding: 15px;
  margin: 0px;
  text-align: center;
  background-color: #aaaaaa;
}

.footer p {
  margin: 10px;
}