
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 30px;
}

.votingSection {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.measureList {
  flex: 0 0 200px;
  align-items: center;
  overflow-y: scroll;
}

.createdMeasure {
  flex: 0 0 300px;
  padding: 0;
}

.createMeasureForm {
  margin: 0;
  padding: 0;
  width: 100%;
}

.createMeasureForm > div {
  display: flex;
  flex-direction: column;
}

.createMeasureForm input,
.createMeasureForm textarea,
.createMeasureForm button {
  margin-top: 1.4rem;
}